.topbar-container {
  background-color: #000;
  height: 94px;
  display: flex;
  justify-content: flex-end;
  
  .topbar-content {
    display: flex;

    .tobar-nav {
      height: 100%;
      width: calc(100% - 250px);
    }

    .user-profile {
      width: 240px;
      height: 100%;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;

      .user-profile-wrapper {
        height: 35%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        .user-icon {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-left: 1.4rem;
          width: 30%;
          height: 100%;
          border-radius: 50%;
          color: rgb(24, 190, 212);
          span{
            margin-top:0.5rem;
          }
        }
        .user-name {
          height: 100%;
          width: 60%;
          display: flex;
          align-items: center;
          color: rgb(24, 190, 212);
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 600;
            font-size: 1.2rem;
          }

          svg {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
