.table-head-row{
      
    .MuiTableCell-root{
        font-weight: 600;
        font-size: 1rem;
    }
}

.MuiTableBody-root{
    .MuiTableCell-root{
        font-weight: 500;
        font-size: 0.8rem;
    }
}